/* =======
    Fonts
   ======= */

/* Knewave */
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

/*
Archivo Black
 */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* ===============
    Global Styles
   =============== */

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red */
  user-select: none;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* ========
    Layout
   ======== */
    /* -------------------
        Start Game Screen
       ------------------- */

.start-game-screen {
  display: flex;
  padding: 40px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url(../img/tekken-background.jpg) no-repeat;
  background-size: cover;
}

    /* ----------------------------
        Character Selection Screen
       ---------------------------- */
.character-selection-screen {
  font-weight: bold;
  padding: 10px;
  background-color: white;
  display: grid;
  justify-items: center;
  gap: 30px;
  box-shadow: 0 0 6px 1px white, 0 0 0 110vh black;
  position: absolute;
  top: 15%;
  left: 30%;
}

.character-selection-title {
  text-shadow: 0 0 1px black;
  color: goldenrod;
  white-space: nowrap;
}

.player-choice-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.player-section {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.player-name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name-section > input {
  cursor: pointer;
  text-align: center;
  width: 70%;
  border: none;
  outline: none;
}

.player-name-section > label {
  border-top: 1px solid black;
  width: 50%;
}

.character-selection-vs {
  font-family: 'Knewave', cursive;
  font-size: 2rem;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5%;
}

.right-arrow {
  right: 5%;
}

    /* -------------
        Game Screen
   -   ------------ */

.game-board {
  position: relative;
  background-color: white;
  font-size: 3rem;
  padding: 10px;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.game-board > div {
  border: 1px solid;
  padding: 10px 25px;
  min-height: 5rem;
  min-width: 5rem;
}

.game-board > div:nth-child(3n+1) {
  border-left: none;
}

.game-board > div:nth-child(n+7) {
  border-bottom: none;
}

.game-board > div:nth-child(-n+3) {
  border-top: none;
}

.game-board > div:nth-child(3n+3) {
  border-right: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hide-element {
  transform: scale(0);
}


/* ============
    Components
   ============ */
    /* ---------
        Buttons
       --------- */

button {
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;

  border: none;
  padding: 14px 10px;
}

button:hover {
  background-color: #1010d2;
}

.start-game-button {

}

.character-selection-button {
  white-space: break-spaces;
}

.fight-button {
  font-family: 'Archivo Black', sans-serif;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  box-shadow: 0 0 1px black;
}