/* =======
    Fonts
   ======= */

/* Archivo Black */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Black Ops One */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* ===============
    Global Styles
   =============== */

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red */
  user-select: none;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

/* ========
    Layout
   ======== */
    /* -------------------
        Start Game Screen
       ------------------- */

.start-game-screen {
  display: flex;
  padding: 40px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url(../img/tekken-background.jpg) no-repeat;
  background-size: cover;
}

    /* ----------------------------
        Character Selection Screen
       ---------------------------- */

.character-selection-screen {
  box-shadow: 0 0 6px 1px white, 0 0 0 110vh black;
  display: grid;
  align-content: space-evenly;
  height: 100vh;
  justify-items: center;
}

.character-selection-box {
  font-weight: bold;
  padding: 10px;
  background-color: white;
  display: grid;
  justify-items: center;
  gap: 30px;

}

.character-selection-title {
  text-shadow: 0 0 1px black;
  color: goldenrod;
  white-space: nowrap;
}

.player-choice-section {
  font-weight: bold;
  background-color: white;
  border: 12px ridge rgba(225,225,225);
  border-radius: 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 3s;
  animation: showOnScreen 0.5s ease-in-out;
}

@keyframes showOnScreen {
  0% {
    transform: translateY(-200%);
  }
}

.player-choice-section * {
  opacity: 0;
  transform: translateX(-200%);
  animation: scaleElements 0.5s 0.5s ease-in-out forwards;
}

@keyframes scaleElements {
  25% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


.player-section {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2px 10px;
  gap: 5px;
}

.player-name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name-section > input {
  cursor: pointer;
  text-align: center;
  width: 70%;
  border: none;
  outline: none;
}

.player-name-section > label {
  border-top: 1px solid black;
  width: 50%;
}

.player-icon {
  background-color: black;
  border-radius: 15px;
  width: 170px;
  height: 170px;
}

.red-border {
  border-color: red !important;
  box-shadow: 2px 4px 1px red;
}

.blue-border {
  border-color: blue !important;
  box-shadow: 2px 4px 1px blue;
}

.character-selection-vs {
  font-size: 2rem;
  min-width: 2rem;
}

.left-arrow,
.right-arrow {
  background-color: black;
  border-radius: 7px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 1.5%;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 3px 1px rgba(0,0,0,1.5);
}

.left-arrow:active,
.right-arrow:active {
  bottom: 1.2%;
  box-shadow: 0 1px 1px rgba(0,0,0,1.5);
}

.right-arrow {
  right: 5%;
}

.character-name,
.player-type {
  text-transform: capitalize;
}

.character-name {
  color: goldenrod;
  text-shadow: 1px 1px 1px black, -1px -1px 1px rgba(0,0,0,0.6);
  font-family: 'Black Ops One', cursive;
  min-height: 2.7rem;
  font-size: 2rem;
}

.player-type {
  font-family: sans-serif;
  text-shadow: 1px 1px 1px black;
  color: #949494;
  font-size: 1.5rem;
}

.character-bar-section {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.character-bar {
  background-color: rgba(255, 255, 255, 0.1);
  align-self: center;
  display: grid;
  grid-template-columns: repeat(10, min-content);
  border: 8px ridge rgba(225,225,225);
  border-radius: 15px;
  animation: showFromLeft 0.5s ease-in-out;
}

@keyframes showFromLeft {
  0% {
    transform: translateX(-200%);
  }
}


.character-bar > img {
  border: 2px solid black;
  width: 75px;
  height: 75px;
  cursor: pointer;
  opacity: 0;
  transform-origin: top center;
  animation: showElement 0.5s ease-in-out 0.5s forwards;
}

.character-bar img:nth-child(1) {
  border-radius: 6px 0 0 0;
}

.character-bar img:nth-child(10) {
  border-radius: 0 6px 0 0;
}

.character-bar img:nth-child(11) {
  border-radius: 0 0 0 6px;
}

.character-bar img:nth-child(20) {
  border-radius: 0 0 6px 0;
}

@keyframes showElement {
  100% {
    opacity: 0.4;
  }
}

.character-bar > img:hover {
  border-color: rgb(215,215,215);
  opacity: 1 !important;
}

.selected-character {
  opacity: 1 !important;
}

.selected-character.blue-border,
.selected-character.red-border {
  box-shadow: none;
}

.huge-padding {
  padding: 7%;
}

    /* -------------
        Game Screen
       ------------ */

.game-board {
  cursor: pointer;
  align-self: center;
  position: relative;
  background-color: white;
  font-size: 3rem;
  padding: 10px;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  border: 7px inset;
}

.blue-shadow {
  box-shadow: 0 0 10px blue;
}

.red-shadow {
  box-shadow: 0 0 10px red;
}

.game-board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  min-height: 7rem;
  min-width: 7rem;
}

.game-board img {
  border-radius: 15px;
  width: 80%;
  height: 80%;
  border: 4px solid;
}

.game-board > div:nth-child(3n+1) {
  border-left: none;
}

.game-board > div:nth-child(n+7) {
  border-bottom: none;
}

.game-board > div:nth-child(-n+3) {
  border-top: none;
}

.game-board > div:nth-child(3n+3) {
  border-right: none;
}

    /* ---------------
        Result Screen
       --------------- */

.result-screen {
  position: absolute;
  background-color: white;
  top: 5%;
  display: grid;
  justify-items: center;
  align-self: center;
  transition: 1s;
  border: 7px outset white;
}

.result-text {
  background-color: black;
  font-weight: bold;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px 10px;
}

.menu {
  align-self: center;
  display: flex;
  justify-content: center;
}

.hide-element {
  display: none;
  /*transform: scale(0)*/;
}


/* ============
    Components
   ============ */
    /* ---------
        Buttons
       --------- */

button {
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  padding: 14px 10px;
}

.red-button {
  position: relative;
  align-self: center;
  font-family: 'Archivo Black', sans-serif;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border: 1px black solid;
  box-shadow: 0 4px 1px rgba(255,0,0,0.5);
}

.red-button:active {
  box-shadow: 0 2px 1px rgba(255,0,0,0.5);
  top: 2px;
}

.new-game-button {
  white-space: break-spaces;
}

.music-button {
  background-color: white;
  box-shadow: 0 0 3px white;
  border: 3px outset white;
  fill: black;
  cursor: pointer;
  border-radius: 14px;
  top: 5%;
  right: 5%;
  position: absolute;
  width: 30px;
  height: 30px;
}