@font-face {
    font-family: "arcade-classic";
    src: url("./../public/fonts/arcade-classic.woff2") format("woff2");
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red */
    user-select: none;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: black;
}